html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
#header {
  height: 350px;
}
#header .header_wrapper {
  padding-top: 110px;
}
#header .header_wrapper h1 {
  font-size: 3em;
  font-family: 'Open Sans', 'Microsoft Yahei', sans-serif;
  text-align: center;
  text-shadow: 0 1px 6px rgba(0,0,0,0.1);
}
#header .header_wrapper h1 a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
#header .header_wrapper h1 a:hover {
  border-bottom: 1px solid #f30;
  color: #f30;
}
#header .header_wrapper .nav {
  list-style: none;
  text-align: center;
  margin: 20px 0;
}
#header .header_wrapper .nav li {
  display: inline-block;
}
#header .header_wrapper .nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  margin: 0 0.5em;
}
#header .header_wrapper .nav li a:hover {
  border-bottom: 1px solid #f30;
  color: #f30;
}
#main {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
#content {
  margin: 0 auto;
  max-width: 850px;
}
.post {
  padding-bottom: 30px;
}
.post-header {
  margin-bottom: 20px;
  padding: 30px 0 10px;
}
.post-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.post-title-link {
  color: #000;
  text-decoration: none;
}
.post-title-link:hover {
  border-bottom: 3px solid #f30;
  color: #f30;
}
.post-meta {
  text-align: center;
  margin-top: 15px;
  font-size: 0.8em;
  color: #999;
}
.post-cat-link {
  font-size: 1em;
  color: #000;
}
.post-cat-link:hover {
  color: #f30;
  text-decoration: none;
  border-bottom: 1px solid #f30;
}
.post-excerpt {
  margin-bottom: 20px;
}
.post-tag-link {
  font-size: 0.8em;
  color: #999;
}
.post-tag-link:hover {
  color: #f30;
  text-decoration: none;
  border-bottom: 1px solid #f30;
}
.post-readmore-link {
  float: right;
  color: #999;
  font-size: 1em;
}
.post-readmore-link:hover {
  color: #f30;
  text-decoration: none;
  border-bottom: 1px solid #f30;
}
blockquote {
  border-left: 4px solid #ddd;
  color: #666;
  padding: 0 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 10px;
  font-weight: bold;
  font-family: Cambria, Georgia, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", "Times New Roman", serif;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5,
h6 {
  font-size: 16px;
}
.articleBody {
  display: block;
  margin-bottom: 20px;
}
.articleBody code {
  background: #ddd none repeat scroll 0 0;
  padding: 0 0.3em;
}
.articleBody > table {
  border: 1px solid #666;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  width: 100%;
}
.articleBody > table th,
.articleBody > table td {
  border-bottom: 3px solid #666;
  border-right: 1px solid #666;
  font-weight: normal;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}
.articleBody > table > th {
  font-weight: 700;
}
.articleBody > table > tbody > tr:nth-of-type(2n+1) {
  background-color: #ddd;
}
ul {
  list-style: outside none disc;
  padding-left: 40px;
}
strong {
  font-weight: bold;
}
.articleBody a,
.post-nav-item a {
  color: #f30;
  text-decoration: none;
}
.articleBody a:hover,
.post-nav-item a:hover {
  border-bottom: 1px solid #f30;
}
.highlight > table td {
  padding: 0.5em 1em;
}
.post-nav {
  margin-top: 20px;
  border-top: 3px solid #f30;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
}
.post-nav-item {
  display: inline-block;
  white-space: normal;
  width: 50%;
}
.post-nav-next {
  text-align: right;
}
.post-nav-prev a::before {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMnB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA5IDEyIiB3aWR0aD0iOXB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHRpdGxlLz48ZGVzYy8+PGRlZnMvPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiPjxnIGZpbGw9IiMwMDAwMDAiIGlkPSJDb3JlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjE4LjAwMDAwMCwgLTkwLjAwMDAwMCkiPjxnIGlkPSJjaGV2cm9uLWxlZnQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIxOC41MDAwMDAsIDkwLjAwMDAwMCkiPjxwYXRoIGQ9Ik03LjQsMS40IEw2LDAgTC04Ljg4MTc4NDJlLTE2LDYgTDYsMTIgTDcuNCwxMC42IEwyLjgsNiBMNy40LDEuNCBaIiBpZD0iU2hhcGUiLz48L2c+PC9nPjwvZz48L3N2Zz4=") no-repeat scroll 0 50%/8px auto;
  content: "";
}
.post-nav-next a::after {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMnB4IiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA5IDEyIiB3aWR0aD0iOXB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PHRpdGxlLz48ZGVzYy8+PGRlZnMvPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgaWQ9IlBhZ2UtMSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiPjxnIGZpbGw9IiMwMDAwMDAiIGlkPSJDb3JlIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMjYwLjAwMDAwMCwgLTkwLjAwMDAwMCkiPjxnIGlkPSJjaGV2cm9uLXJpZ2h0IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyNjAuNTAwMDAwLCA5MC4wMDAwMDApIj48cGF0aCBkPSJNMSwwIEwtMC40LDEuNCBMNC4yLDYgTC0wLjQsMTAuNiBMMSwxMiBMNyw2IEwxLDAgWiIgaWQ9IlNoYXBlIi8+PC9nPjwvZz48L2c+PC9zdmc+") no-repeat scroll 100% 50%/8px auto;
  content: "";
}
.post-nav-item a::before,
.post-nav-item a::after {
  -webkit-background-size: 10px auto;
  -moz-background-size: 10px auto;
  background-size: 10px auto;
  display: inline-block;
  height: 30px;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  vertical-align: top;
  width: 20px;
}
.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
  margin: 0;
}
.highlight,
.tag,
.subst {
  color: #f8f8f2;
}
.strong,
.emphasis {
  color: #a8a8a2;
}
.bullet,
.quote,
.number,
.regexp,
.literal,
.link {
  color: #ae81ff;
}
.code,
.title,
.section,
.selector-class {
  color: #a6e22e;
}
.strong {
  font-weight: bold;
}
.emphasis {
  font-style: italic;
}
.keyword,
.selector-tag,
.name,
.attr {
  color: #f92672;
}
.symbol,
.attribute {
  color: #66d9ef;
}
.params,
.line,
.class .title {
  color: #f8f8f2;
}
.string,
.type,
.built_in,
.builtin-name,
.selector-id,
.selector-attr,
.selector-pseudo,
.addition,
.variable,
.template-variable {
  color: #e6db74;
}
.comment,
.deletion,
.meta {
  color: #75715e;
}
.footer {
  height: 100px;
  color: #fff;
  text-align: center;
}
.copyright {
  padding-top: 20px;
}
body {
  background: #303538 url("https://bing.ioliu.cn/v1/rand?w=1920&h=1080") no-repeat fixed center center;
  padding: 0;
  margin: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  line-height: 1.7;
  font-size: 16px;
}
.pagination {
  border-top: 3px solid #f30;
  text-align: center;
}
.page-number {
  font-size: 1.2em;
  line-height: 30px;
  color: #000;
  padding: 15px 10px;
}
.current {
  color: #f30;
}
.page-number:hover {
  color: #f30;
}
